@font-face {font-family: "DomCasualW01-BoldDiagonal"; src: url("//db.onlinewebfonts.com/t/8077ce86ce5bab9e1fe65ca19136d10d.eot"); src: url("//db.onlinewebfonts.com/t/8077ce86ce5bab9e1fe65ca19136d10d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8077ce86ce5bab9e1fe65ca19136d10d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8077ce86ce5bab9e1fe65ca19136d10d.woff") format("woff"), url("//db.onlinewebfonts.com/t/8077ce86ce5bab9e1fe65ca19136d10d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8077ce86ce5bab9e1fe65ca19136d10d.svg#DomCasualW01-BoldDiagonal") format("svg"); }

* {
    margin: 0;
    padding: 0;
    font-family: "DomCasualW01-BoldDiagonal", sans-serif;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255)
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: 'Digital';
}

header {
    display: flex;
    justify-content: center;
    height: 20%;
    background-color: #000000;
}

header nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

header nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header img#logo {
    height: 100%;
  }

main {
    min-height: 70%;
}

main div#sub_header {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

table {
    gap: 16px;
}

table tr{
    background-color: #000000;
}

section#create{
    display: flex;
    flex-direction: column; 
    width: 500px;
    gap: 24px;
    height: 100%;
}


section#create form input {
    width: 85%;
    padding: 9.6px;
    font-size: 16px;
    outline: none;
    border: solid 1.5px;
    margin: 0px 16px 16px 0px;
  }

  section#create form label {
    font-size: 16px;
    margin: 16px;
    color: rgb(255, 255, 255);
  }

  section#create form button {
    color: #ffffff;
    background-color: #000000;
    height: 80px;
    width: auto;
    line-height: 0;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: block;
    justify-content: center;
    margin: auto;
  }

section#name_model {
    display: flex;
    justify-content: center;
}

section#card_details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 16px;
    gap: 16px;
}

section#details_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 16px;
    gap: 16px;
}

section article.cards{
    height: 250px;
    width: 200px;
    border: 1px solid rgb(255, 255, 255);
}

article.cards div.cards_img {
    display: flex;
    height: 90%;
    border: 1px solid rgb(255, 255, 255);
}

article.cards div.cards_img img{
    height: 100%;
    width: 100%;
}


article.cards div.cards_name {
    display: flex;
    justify-content: center;
    height: 10%;
}

div.btn_conteiner {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



footer {
    height: 10%;
    background-color: #000000;
}

